.menu-wrapper {
  font-family: "TT Firs Neue";
  background-color: #f8f6f3;
  height: 100vh;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 20px 12px 34px;

    h1 {
      font-size: 20px;
      font-weight: 500;
      margin: 0;
    }

    button {
      border: none;
      background: inherit;
    }
  }

  .categories {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #d9d9d9;
    padding: 10px;

    .category {
      padding-top: 6px;
      padding-bottom: 5px;
      min-width: 70px;
      font-size: 15px;
      line-height: 19px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(101, 100, 219, 0.1);
      border-radius: 10px;

      &-active {
        background-color: #fff;
      }

      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }
  }

  .dishes {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 150px 150px;
    column-gap: 20px;
    row-gap: 23px;
    padding: 19px 29px;
    padding-bottom: 0;

    .dish-wrapper {
      position: relative;
      width: 100%;

      .dish {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 12px;
        padding-bottom: 9px;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 1.25px 1.25px 15px 2px rgba(0, 0, 0, 0.06);

        img {
          position: relative;
          bottom: 5px;
          width: 125px;
          height: 125px;
        }

        h4 {
          position: relative;
          bottom: 5px;
          font-size: 15px;
          font-weight: normal;
          margin-top: 7px;
          margin-bottom: 0;    
          width: 100%;
          text-overflow: ellipsis;
          text-align: center;
          overflow: hidden;
          white-space: nowrap;
        }

        .change-amount-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(101, 100, 219, 0.1);
          border-radius: 20px;
          border: 0;
          padding: 2px 6px;

          .amount {
            font-family: "TT Firs Neue";
            font-size: 15px;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.4);
            margin: 0px 7px;
            position: relative;
            top: 1px;

            &-bold {
              font-weight: bold;
              color: black;
            }
          }

          svg {
            font-size: 16px;
            color: #6564db;
          }
        }
      }

      .bottom-border {
        width: 100%;
        height: 100px;
        border-radius: 20px;
        position: absolute;
        bottom: -8px;
        z-index: 1;
        background-color: #ff8811;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 20px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 90%;
    z-index: 2;

    button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 35px;
      background-color: #ff8811;
      width: 100%;
      border: none;
      border-radius: 30px;
      color: #fff;
      font-family: "TT Firs Neue";
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 19px;
      text-align: center;

      span:first-of-type {
        position: relative;
        left: 40%;
      }

      span:last-of-type {
        position: relative;
        right: 5%;
      }
    }
  }
}
