body {
  margin: 0;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("styles/fonts/TTFirsNeue-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("styles/fonts/TTFirsNeue-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Inter";
  src: url("styles/fonts/Inter-Medium.ttf") format("truetype");
  font-weight: normal;
}